.formatbox{
    display: flex;
    background-color: rgb(6, 85, 174);
    border: none;
    width: 50%;
    padding: 20px 20px;
    border-radius: 25px;
}

.header img{
    float: left;
    width: 100px;
    height: 100px;
}

.header{
    text-indent: 30px;
}

.header h1{
    position: relative;
    top: 18px;
    left: 10px; 
}

body{
    background-color: #03304d;
}

button{
    text-align: center;
}

label{
    color: #ffffff;
}

h1{
    color: #ffffff;
}

div{
    color: #ffffff;
}

.font{
    font-family: 'Quicksand', sans-serif;
}

.outer {
    display: flex;
    justify-content: center;
}

.center{
    text-align: center;
    width: 7%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    background: #005792;
}

.center_box{
    text-align: center;
    width: 30%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    background: #005792;
}

.center_button{
    text-align: center;
    font-weight: bold;
    background-color: rgb(6, 85, 174);
    display: block;
    padding: 10px 20px;
    width: 12%;
    border: none;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    font-size: 1.1rem;
    color: #ffffff;
    border: 1px solid #dddddd;
}

.center_button:hover{
    background-color: #022c48;
}

.container{
    margin-left: 350px;
}

.navbar-brand{
    vertical-align: middle;
}

.evaluation_tb{
    text-align: center;
    display: block;
    width: 40%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius:25px;
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0,2s;
    text-align: center;
}

.evaluation_tb{
    border-color: #6cc9ff;
    background: #ffffff;
}

.center_box{
    font-family: 'Quicksand', sans-serif;
}

.evaluation_tb{
    font-family: 'Quicksand', sans-serif;
}