.formatbox{
    display: flex;
}

.formatbox-child-left{
    flex: 1;
    text-align: center;
}

.formatbox-child-right{
    flex: 1;
    display: flex;
    align-items: right;
    justify-content: right;
}

button{
    text-align: center;
}

.center{
    text-align: center;
}

.left-justify{
    text-align: justify;
}
