.header img{
    float: left;
    width: 100px;
    height: 100px;
    margin-top: -32px;
}

.header h1{
    position: relative;
    top: 18px;
    left: 10px; 
}

.center{
    text-align: center;
}

.container{
    margin-left: 350px;
}

.navbar-brand{
    vertical-align: middle;
}


