.formatbox{
    display: flex;
}

.formatbox-child-left{
    flex: 1;
    text-align: center;
}

.formatbox-child-right{
    flex: 1;
}

button{
    text-align: center;
}

label{
    color: #ffffff;
}

h1{
    color: #ffffff;
}

div{
    color: #ffffff;
}

.container {
    display: flex;
    align-items: center;
}

body{
    background-color: #03304d;
}

.center{
    text-align: center;
    width: 7%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    background: #005792;
}

.center_button{
    text-align: center;
    font-weight: bold;
    background: #005792;
    border: none;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    font-size: 1.1rem;
    color: #ffffff;
}

.vertical_center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.center_alignment{
    text-align: center;
}

.left-justify{
    text-align: justify;
}

.header img{
    float: left;
    width: 100px;
    height: 100px;
}

.font{
    font-family: 'Quicksand', sans-serif;
}

.generated_tb{
    text-align: center;
}

.centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }