.formatbox{
    display: flex;
    background-color: rgb(6, 85, 174);
    border: none;
    width: 75%;
    padding: 20px 20px;
    border-radius: 25px;
}

.formatbox-child-left{
    flex: 1;
    text-align: center;
}

.formatbox-child-right{
    flex: 1;
}

button{
    text-align: center;
}

label{
    color: #ffffff;
}

h1{
    color: #ffffff;
}

div{
    color: #ffffff;
}

input{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: flex;
    align-items: center;
}

body{
    background-color: #03304d;
}

.checkbox-align {
    text-align: justify;
    text-indent: 300px;
  }

.center{
    text-align: center;
    max-width: 7%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    background: #005792;
}

.center_button{
    text-align: center;
    font-weight: bold;
    background-color: rgb(6, 85, 174);
    display: block;
    padding: 10px 20px;
    width: 12%;
    border: none;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    font-size: 1.1rem;
    color: #ffffff;
    border: 1px solid #dddddd;
}

.center_button:hover{
    background-color: #022c48;
}

.vertical_center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.center_alignment{
    text-align: center;
}

.left-justify{
    text-align: justify;
}

.header img{
    float: left;
    width: 100px;
    height: 100px;
}

.header{
    text-indent: 30px;
}

.font{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.font-title{
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
}

.font-cb{
    text-indent: 75px;
}

.generated_tb{
    text-align: center;
}

.centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.length-inputbox{
    padding: 0.75rem;
    width: 15%;
    box-sizing: border-box;
    border-radius:25px;
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0,2s;
}

/*--------------------------*/

.checkbox-wrapper-22 .switch1 {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .checkbox-wrapper-22 .switch1 input {
    display:none;
  }

  .checkbox-wrapper-22 .slider1 {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .checkbox-wrapper-22 .slider1:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }

  .checkbox-wrapper-22 input:checked + .slider1 {
    background-color: #66bb6a;
  }

  .checkbox-wrapper-22 input:checked + .slider1:before {
    transform: translateX(26px);
  }

  .checkbox-wrapper-22 .slider1.round1 {
    border-radius: 34px;
  }

  .checkbox-wrapper-22 .slider1.round1:before {
    border-radius: 50%;
  }
/*--------------------------------------------*/
.checkbox-wrapper-23 .switch2 {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .checkbox-wrapper-23 .switch2 input {
    display:none;
  }

  .checkbox-wrapper-23 .slider2 {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .checkbox-wrapper-23 .slider2:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }

  .checkbox-wrapper-23 input:checked + .slider2 {
    background-color: #66bb6a;
  }

  .checkbox-wrapper-23 input:checked + .slider2:before {
    transform: translateX(26px);
  }

  .checkbox-wrapper-23 .slider2.round2 {
    border-radius: 34px;
  }

  .checkbox-wrapper-23 .slider2.round2:before {
    border-radius: 50%;
  }
  /*-------------------------------------*/
  .checkbox-wrapper-24 .switch3 {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .checkbox-wrapper-24 .switch3 input {
    display:none;
  }

  .checkbox-wrapper-24 .slider3 {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .checkbox-wrapper-24 .slider3:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }

  .checkbox-wrapper-24 input:checked + .slider3 {
    background-color: #66bb6a;
  }

  .checkbox-wrapper-24 input:checked + .slider3:before {
    transform: translateX(26px);
  }

  .checkbox-wrapper-24 .slider3.round3 {
    border-radius: 34px;
  }

  .checkbox-wrapper-24 .slider3.round3:before {
    border-radius: 50%;
  }
  